body{
	margin : 0px ;
	background-color: #ffffff;
}

a{
	color : white;
	text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.contener{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
#entete{
	width: 100%;
	min-width: 800px;
	min-height: 50px;
	background-color: rgba(0,48,85,1.0);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.element-entete{
	color: white;
	text-align: center; 
	margin: auto;
	font-family: "Helvetica-Bold", Helvetica, Arial, serif;
	font-size: 30px;
}
.element-entete:nth-child(1){
	margin-left: 2px;
}
.element-entete:nth-child(2){
	margin-left: 2px;
}
.element-entete:nth-child(7){
	margin-right: 20px;
}
#corp{
	width: 100%;
	min-width: 800px;
	min-height: 1000px;
	background-image: url('./img/mainpage-tobias-fischer-pkbzaheg2ng-unsplash.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin: auto;
	display: flex;
}
#pied-de-page{
	width: 100%;
	height: 10px;
	
}
#contener-element{
	text-align: center;
	margin: auto;
	display: flex;
	background-color: white;
	min-height: 500px;
	width: 500px;
	flex-direction: column;
}
.element{
	font-size: 30px;
}
.element-comp{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin:auto;
  text-align:center;
}
.competence-element{
	border-radius: 5px;
	color: white;
	padding: 5px;
	margin: 3px;
}
#submit{
	background-color: lightgrey;
	width: 400px;
	height: 30px;
	border-color: darkgrey;
	margin-bottom: 20px;
}