body{
  margin : 0px ;
  background-color: #ffffff;
  background-image: url('./img/mainpage-tobias-fischer-pkbzaheg2ng-unsplash.png');
  background-repeat: no-repeat;
  background-size: cover;
   }

   #footer{
    background-color: white;
   }
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.contener{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#lien{
  color:black;
 
}

#entete{
  width: 100%;
  min-width: 800px;
  min-height: 50px;
  background-color: rgba(0,48,85,1.0);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.element-entete{
  color: white;
  text-align: center; 
  margin: auto;
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 30px;
  color : white;
  text-decoration: none;
}
.element-entete:hover{
    text-decoration: underline;
}
.element-entete:nth-child(1){
  margin-left: 2px;
}
.element-entete:nth-child(2){
  margin-left: 2px;
}
.element-entete:nth-child(7){
  margin-right: 20px;
}
#corp{
  width: 100%;
  min-width: 800px;
  min-height: 1000px;
  
  text-align: center;
  margin: auto;
  display: flex;
}
#pied-de-page{
  width: 100%;
  height: 10px;
  
}
td{
  min-width: 300px;
  background-color: white;
}
#contener-table{
  text-align: center;
  margin-top : 100px;
  margin-left: auto;
  margin-right: auto;
}
#text-recherche{
  background-color: rgba(0,82,145,1.0);
  border: solid rgba(0,82,145,1.0);
  font-size: 30px;
  width: 90%;
  color: white;
  border-radius: 24px;
  margin-top: 10px;
}



.toggle-wrapper {
  position: absolute;
  margin-top: 25px;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5rem;
  height: 2.5rem;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
}

.toggle {
  display: none;
}

.foux-toggle {
  position: relative;
  width: 6rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #E4E4E4;
  background-color: #F7F7F7;
  transition: background-color 0.2s cubic-bezier(0.34, 0.93, 0.85, 0.91);
}
.foux-toggle:before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.3125rem;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: left 0.2s cubic-bezier(0.34, 0.93, 0.85, 0.91);
}
.toggle:checked ~ .foux-toggle {
  border-color: #EE967A;
  background-color: #FCA68B;
}
.toggle:checked ~ .foux-toggle:before {
  left: 3.8rem;
}

.toggle--label:before, .toggle--label:after {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 0.4s linear;
}

.toggle--label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 2.5rem;
  cursor: pointer;
  z-index: 10;
  letter-spacing: 0.0625rem;
}
.toggle--label:before {
  content: 'Carte';
  right: 40%;
  left: 0;
  color: white;
  opacity: 0;
}
.toggle:checked + .toggle--label:before {
  opacity: 1;
}
.toggle--label:after {
  content: 'Tableau';
  position: absolute;
  right: 0;
  left: 55%;
  opacity: 1;
}
.toggle:checked + .toggle--label:after {
  opacity: 0;
  transition-duration: 0.05s;
}




.page-container{
margin-top:40px;    
}
figure.user-card {
    background: #ffffff;
    padding: 20px;
    border-top: 3px solid #f2f2f2;
    border: 1px solid #e1e5f1;
    text-align: center;
    transition: transform .2s;
    float: left;
}

.row{
    display: inherit ;
}

.container{
    margin-left: 0px;
    max-width: 100%;    
}


.toto{
  margin-top: 50px;
    margin-left: 100px;
      float :left;
    width: 350px;
}

figure.user-card:hover {

transform: scale(1.05);
box-shadow: 0px 0px 10px 7px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 7px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 7px rgba(119, 119, 119, 0.75);
cursor: pointer;
}

figure.user-card.red {
    border-top: 3px solid #fc6d4c;
}

figure.user-card.green {
    border-top: 3px solid #3ecfac;
}

figure.user-card.blue {
    border-top: 3px solid #5a99ee;
}

figure.user-card.yellow {
    border-top: 3px solid #ffc139;
}

figure.user-card.orange {
    border-top: 3px solid #ff5000;
}

figure.user-card.teal {
    border-top: 3px solid #47BCC7;
}

figure.user-card.pink {
    border-top: 3px solid #ff9fd0;
}

figure.user-card.brown {
    border-top: 3px solid #79574b;
}

figure.user-card.purple {
    border-top: 3px solid #904e95;
}

figure.user-card.fb {
    border-top: 3px solid #3B5998;
}

figure.user-card.gp {
    border-top: 3px solid #E02F2F;
}

figure.user-card .profile {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 72px;
    margin-bottom: 20px;
}

figure.user-card h5 {
    margin: 0 0 5px 0;
}

figure.user-card h6 {
    margin: 0 0 15px 0;
    color: #8796af;
    font-size: 14px;
}

figure.user-card p {
    margin: 0;
    padding: 0 0 15px 0;
    color: #8796af;
    line-height: 150%;
    font-size: .85rem;
}

figure.user-card ul.contacts {
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 150%;
    font-size: .85rem;
}

figure.user-card ul.contacts li {
    padding: .2rem 0;
}

figure.user-card ul.contacts li a {
    color: #5a99ee;
}

figure.user-card ul.contacts li a i {
    min-width: 36px;
    float: left;
    font-size: 1rem;
}

figure.user-card ul.contacts li:last-child a {
    color: #ff5000;
}

ul li {
    list-style-type: none;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}


#recherche{
  margin-top: 70px;
  margin-left: 15%;
  margin-right: 15%;
}

#inf_table1{
  width: 99.45%; 
  height: auto; 
}

#table1{
  width: 100%;
  border : 1px solid #CCC;
}
select.rspg{
  width: 60px;
}
